In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
##zipcodes = gpd.read_file('../data/zipcodes.geojson')
#print(zipcodes.crs)
##zipcodes.head( )

better_health = gpd.read_file('../data/Better_Health_Data_2024_release_20241202.geojson')
##print(better_health)
better_health.head(2)

,measure,low_confidence_limit,data_value_unit,data_value,short_question_text,statedesc,totalpop18plus,locationid,year,high_confidence_limit,...,data_value_footnote,data_value_type,data_value_footnote_symbol,locationname,category,datavaluetypeid,measureid,datasource,totalpopulation,geometry
0,Diagnosed diabetes among adults,11.8,%,12.0,Diabetes,United States,260836730,59,2022,12.2,...,None,Crude prevalence,None,None,Health Outcomes,CrdPrv,DIABETES,BRFSS,333287557,None
1,Hearing disability among adults,8.5,%,9.6,Hearing Disability,Alabama,19675,01005,2022,10.7,...,None,Crude prevalence,None,Barbour,Disability,CrdPrv,HEARING,BRFSS,24706,POINT (-85.39281 31.86982)

In [3]:
better_health.tail(2)

,measure,low_confidence_limit,data_value_unit,data_value,short_question_text,statedesc,totalpop18plus,locationid,year,high_confidence_limit,...,data_value_footnote,data_value_type,data_value_footnote_symbol,locationname,category,datavaluetypeid,measureid,datasource,totalpopulation,geometry
240884,Self-care disability among adults,2.9,%,3.2,Self-care Disability,Wisconsin,107333,55073,2022,3.5,...,None,Crude prevalence,None,Marathon,Disability,CrdPrv,SELFCARE,BRFSS,137958,POINT (-89.75886 44.89830)
240885,Binge drinking among adults,13.5,%,16.4,Binge Drinking,Wyoming,29818,56013,2022,19.5,...,None,Crude prevalence,None,Fremont,Health Risk Behaviors,CrdPrv,BINGE,BRFSS,39472,POINT (-108.63045 43.04064)

In [4]:
better_health.columns

Index(['measure', 'low_confidence_limit', 'data_value_unit', 'data_value',
       'short_question_text', 'statedesc', 'totalpop18plus', 'locationid',
       'year', 'high_confidence_limit', 'categoryid', 'stateabbr',
       'data_value_footnote', 'data_value_type', 'data_value_footnote_symbol',
       'locationname', 'category', 'datavaluetypeid', 'measureid',
       'datasource', 'totalpopulation', 'geometry'],
      dtype='object')

In [5]:
better_health_df1=better_health.drop(columns =['data_value_unit', 'data_value_footnote', 'data_value_footnote_symbol', 'datavaluetypeid', 'measureid', 'datasource'])
better_health_df1

,measure,low_confidence_limit,data_value,short_question_text,statedesc,totalpop18plus,locationid,year,high_confidence_limit,categoryid,stateabbr,data_value_type,locationname,category,totalpopulation,geometry
0,Diagnosed diabetes among adults,11.8,12.0,Diabetes,United States,260836730,59,2022,12.2,HLTHOUT,US,Crude prevalence,None,Health Outcomes,333287557,None
1,Hearing disability among adults,8.5,9.6,Hearing Disability,Alabama,19675,01005,2022,10.7,DISABLT,AL,Crude prevalence,Barbour,Disability,24706,POINT (-85.39281 31.86982)
2,Stroke among adults,3.4,3.7,Stroke,Alabama,91336,01015,2022,4.0,HLTHOUT,AL,Age-adjusted prevalence,Calhoun,Health Outcomes,115788,POINT (-85.82577 33.77149)
3,Stroke among adults,5.1,5.6,Stroke,Alabama,27025,01017,2022,6.0,HLTHOUT,AL,Crude prevalence,Chambers,Health Outcomes,34088,POINT (-85.39176 32.91417)
4,Stroke among adults,4.9,5.3,Stroke,Alabama,11235,01027,2022,5.7,HLTHOUT,AL,Crude prevalence,Clay,Health Outcomes,14198,POINT (-85.86066 33.26931)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240881,High blood pressure among adults,29.9,34.3,High Blood Pressure,Wisconsin,36755,55095,2021,38.8,HLTHOUT,WI,Crude prevalence,Polk,Health Outcomes,45709,POINT (-92.44128 45.46151)
240882,Depression among adults,20.9,24.5,Depression,Wisconsin,23116,55121,2022,28.2,HLTHOUT,WI,Age-adjusted prevalence,Trempealeau,Health Outcomes,30899,POINT (-91.35842 44.30395)
240883,Visited dentist or dental clinic in the past y...,60.1,64.3,Dental Visit,Wisconsin,25807,55029,2022,67.8,PREVENT,WI,Age-adjusted prevalence,Door,Prevention,30526,POINT (-87.31142 44.95001)
240884,Self-care disability among adults,2.9,3.2,Self-care Disability,Wisconsin,107333,55073,2022,3.5,DISABLT,WI,Crude prevalence,Marathon,Disability,137958,POINT (-89.75886 44.89830)
240885,Binge drinking among adults,13.5,16.4,Binge Drinking,Wyoming,29818,56013,2022,19.5,RISKBEH,WY,Crude prevalence,Fremont,Health Risk Behaviors,39472,POINT (-108.63045 43.04064)

In [6]:
better_health_df1['short_question_text']=better_health_df1['short_question_text'].astype(str)
better_health_df1

,measure,low_confidence_limit,data_value,short_question_text,statedesc,totalpop18plus,locationid,year,high_confidence_limit,categoryid,stateabbr,data_value_type,locationname,category,totalpopulation,geometry
0,Diagnosed diabetes among adults,11.8,12.0,Diabetes,United States,260836730,59,2022,12.2,HLTHOUT,US,Crude prevalence,None,Health Outcomes,333287557,None
1,Hearing disability among adults,8.5,9.6,Hearing Disability,Alabama,19675,01005,2022,10.7,DISABLT,AL,Crude prevalence,Barbour,Disability,24706,POINT (-85.39281 31.86982)
2,Stroke among adults,3.4,3.7,Stroke,Alabama,91336,01015,2022,4.0,HLTHOUT,AL,Age-adjusted prevalence,Calhoun,Health Outcomes,115788,POINT (-85.82577 33.77149)
3,Stroke among adults,5.1,5.6,Stroke,Alabama,27025,01017,2022,6.0,HLTHOUT,AL,Crude prevalence,Chambers,Health Outcomes,34088,POINT (-85.39176 32.91417)
4,Stroke among adults,4.9,5.3,Stroke,Alabama,11235,01027,2022,5.7,HLTHOUT,AL,Crude prevalence,Clay,Health Outcomes,14198,POINT (-85.86066 33.26931)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240881,High blood pressure among adults,29.9,34.3,High Blood Pressure,Wisconsin,36755,55095,2021,38.8,HLTHOUT,WI,Crude prevalence,Polk,Health Outcomes,45709,POINT (-92.44128 45.46151)
240882,Depression among adults,20.9,24.5,Depression,Wisconsin,23116,55121,2022,28.2,HLTHOUT,WI,Age-adjusted prevalence,Trempealeau,Health Outcomes,30899,POINT (-91.35842 44.30395)
240883,Visited dentist or dental clinic in the past y...,60.1,64.3,Dental Visit,Wisconsin,25807,55029,2022,67.8,PREVENT,WI,Age-adjusted prevalence,Door,Prevention,30526,POINT (-87.31142 44.95001)
240884,Self-care disability among adults,2.9,3.2,Self-care Disability,Wisconsin,107333,55073,2022,3.5,DISABLT,WI,Crude prevalence,Marathon,Disability,137958,POINT (-89.75886 44.89830)
240885,Binge drinking among adults,13.5,16.4,Binge Drinking,Wyoming,29818,56013,2022,19.5,RISKBEH,WY,Crude prevalence,Fremont,Health Risk Behaviors,39472,POINT (-108.63045 43.04064)

In [7]:
##candy_df=candy_df.rename(columns={'name':'Name', 'state':'State', '2nd_place_pounds': 'Second_place_pounds', '3rd_place_pounds':'Third_place_pounds', 'top_candy':'Top_candy', 'top_candy_pounds': 'Top_candy_pounds'})
##candy_df.head(3)

In [8]:
type(better_health_df1)

geopandas.geodataframe.GeoDataFrame

In [9]:
better_health_df1['measure'].value_counts()

measure
Diagnosed diabetes among adults                                                         6290
Hearing disability among adults                                                         6290
Stroke among adults                                                                     6290
Short sleep duration among adults                                                       6290
Cancer (non-skin) or melanoma among adults                                              6290
Frequent physical distress among adults                                                 6290
Current lack of health insurance among adults aged 18-64 years                          6290
Current asthma among adults                                                             6290
Arthritis among adults                                                                  6290
Cognitive disability among adults                                                       6290
Mobility disability among adults                                                        6290
Any disability among adults                                                             6290
Depression among adults                                                                 6290
Obesity among adults                                                                    6290
Binge drinking among adults                                                             6290
Visits to doctor for routine checkup within the past year among adults                  6290
Coronary heart disease among adults                                                     6290
Chronic obstructive pulmonary disease among adults                                      6290
Mammography use among women aged 50-74 years                                            6290
Self-care disability among adults                                                       6290
Vision disability among adults                                                          6290
Frequent mental distress among adults                                                   6290
Independent living disability among adults                                              6290
All teeth lost among adults aged >=65 years                                             6290
Fair or poor self-rated health status among adults                                      6290
Current cigarette smoking among adults                                                  6290
Colorectal cancer screening among adults aged 45–75 years                               6290
Visited dentist or dental clinic in the past year among adults                          6290
No leisure-time physical activity among adults                                          6290
High cholesterol among adults who have ever been screened                               6156
High blood pressure among adults                                                        6156
Cholesterol screening among adults                                                      6156
Taking medicine to control high blood pressure among adults with high blood pressure    6156
Feeling socially isolated among adults                                                  4836
Housing insecurity in the past 12 months among adults                                   4836
Food insecurity in the past 12 months among adults                                      4836
Utility services shut-off threat in the past 12 months among adults                     4836
Received food stamps in the past 12 months among adults                                 4836
Lack of social and emotional support among adults                                       4836
Lack of reliable transportation in the past 12 months among adults                      4836
Name: count, dtype: int64

In [10]:
better_health_df1.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 240886 entries, 0 to 240885
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   measure                240886 non-null  object
 1   low_confidence_limit   240886 non-null  object
 2   data_value             240886 non-null  object
 3   short_question_text    240886 non-null  object
 4   statedesc              240886 non-null  object
 5   totalpop18plus         240886 non-null  object
 6   locationid             240886 non-null  object
 7   year                   240886 non-null  object
 8   high_confidence_limit  240886 non-null  object
 9   categoryid             240886 non-null  object
 10  stateabbr              240886 non-null  object
 11  data_value_type        240886 non-null  object
 12  locationname           240806 non-null  object
 13  category               240886 non-null  object
 14  totalpopulation        240886 non-null  object
 15  geometry               240806 non-null  geometry
dtypes: geometry(1), object(15)
memory usage: 29.4+ MB

In [11]:
##candy_df=pd.read_csv('../data/candy.csv')
nhe_df = pd.read_csv('../data/Table_1_NHE.csv')
nhe_df

,"Table 1 \nNational Health Expenditures; Aggregate and Per Capita Amounts, Annual Percent Change and Percent Distribution: Selected Calendar Years 1960-2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,Item,1960,1970,1980,1990,2000,2001,2002,2003,2004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Amount in Billions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,National Health Expenditures,$27.1,$74.1,$253.2,$718.7,"$1,366.0","$1,483.4","$1,631.0","$1,770.4","$1,894.7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Health Consumption Expenditures,24.6,66.3,232.7,670.2,"1,280.3","1,393.4","1,529.6","1,661.8","1,777.8",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Personal Health Care,23.1,62.4,214.3,611.9,"1,156.5","1,256.5","1,365.5","1,475.9","1,582.4",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
nhe_df.columns

Index(['Table 1 \nNational Health Expenditures; Aggregate and Per Capita Amounts, Annual Percent Change and Percent Distribution: Selected Calendar Years 1960-2022',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60'],
      dtype='object')

In [13]:
type(nhe_df)

pandas.core.frame.DataFrame

In [14]:
nhe_df.reset_index

<bound method DataFrame.reset_index of    Table 1 \nNational Health Expenditures; Aggregate and Per Capita Amounts, Annual Percent Change and Percent Distribution: Selected Calendar Years 1960-2022  \
0                                                Item
1                                                 NaN
2                       National Health Expenditures
3                     Health Consumption Expenditures
4                                Personal Health Care
..                                                ...
79                                                NaN
80                                                NaN
81                                                NaN
82                                                NaN
83                                                NaN

            Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0                1960       1970       1980       1990       2000       2001
1   Amount in Billions        NaN        NaN        NaN        NaN        NaN
2                $27.1      $74.1     $253.2     $718.7   $1,366.0   $1,483.4
3                 24.6       66.3      232.7      670.2    1,280.3    1,393.4
4                 23.1       62.4      214.3      611.9    1,156.5    1,256.5
..                 ...        ...        ...        ...        ...        ...
79                 NaN        NaN        NaN        NaN        NaN        NaN
80                 NaN        NaN        NaN        NaN        NaN        NaN
81                 NaN        NaN        NaN        NaN        NaN        NaN
82                 NaN        NaN        NaN        NaN        NaN        NaN
83                 NaN        NaN        NaN        NaN        NaN        NaN

   Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 51 Unnamed: 52 Unnamed: 53  \
0       2002       2003       2004   ...         NaN         NaN         NaN
1         NaN        NaN        NaN  ...         NaN         NaN         NaN
2    $1,631.0   $1,770.4   $1,894.7  ...         NaN         NaN         NaN
3     1,529.6    1,661.8    1,777.8  ...         NaN         NaN         NaN
4     1,365.5    1,475.9    1,582.4  ...         NaN         NaN         NaN
..        ...        ...        ...  ...         ...         ...         ...
79        NaN        NaN        NaN  ...         NaN         NaN         NaN
80        NaN        NaN        NaN  ...         NaN         NaN         NaN
81        NaN        NaN        NaN  ...         NaN         NaN         NaN
82        NaN        NaN        NaN  ...         NaN         NaN         NaN
83        NaN        NaN        NaN  ...         NaN         NaN         NaN

   Unnamed: 54 Unnamed: 55 Unnamed: 56 Unnamed: 57 Unnamed: 58 Unnamed: 59  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
..         ...         ...         ...         ...         ...         ...
79         NaN         NaN         NaN         NaN         NaN         NaN
80         NaN         NaN         NaN         NaN         NaN         NaN
81         NaN         NaN         NaN         NaN         NaN         NaN
82         NaN         NaN         NaN         NaN         NaN         NaN
83         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 60
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
79         NaN
80         NaN
81         NaN
82         NaN
83         NaN

[84 rows x 61 columns]>

In [16]:
nhe_df.columns

Index(['Table 1 \nNational Health Expenditures; Aggregate and Per Capita Amounts, Annual Percent Change and Percent Distribution: Selected Calendar Years 1960-2022',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60'],
      dtype='object')

In [20]:
   
nhe_df1 = nhe_df.drop(columns=['Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
                              'Unnamed: 36','Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42','Unnamed: 43',
                              'Unnamed: 44','Unnamed: 45', 'Unnamed: 46','Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51',
                              'Unnamed: 52','Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
                              'Unnamed: 60'])

nhe_df1

,"Table 1 \nNational Health Expenditures; Aggregate and Per Capita Amounts, Annual Percent Change and Percent Distribution: Selected Calendar Years 1960-2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Item,1960,1970,1980,1990,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,NaN,Amount in Billions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,National Health Expenditures,$27.1,$74.1,$253.2,$718.7,"$1,366.0","$1,483.4","$1,631.0","$1,770.4","$1,894.7",...,"$2,855.7","$3,001.7","$3,163.8","$3,305.3","$3,443.7","$3,601.2","$3,756.4","$4,156.3","$4,289.1","$4,464.6"
3,Health Consumption Expenditures,24.6,66.3,232.7,670.2,"1,280.3","1,393.4","1,529.6","1,661.8","1,777.8",...,"2,692.6","2,842.2","3,000.6","3,139.1","3,263.0","3,411.6","3,562.3","3,962.2","4,081.6","4,246.8"
4,Personal Health Care,23.1,62.4,214.3,611.9,"1,156.5","1,256.5","1,365.5","1,475.9","1,582.4",...,"2,404.6","2,526.2","2,672.9","2,793.7","2,901.3","3,017.1","3,171.2","3,375.3","3,561.5","3,704.8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:

nhe_df1=nhe_df1.rename(columns ={'Table 1 \nNational Health Expenditures; Aggregate and Per Capita Amounts, Annual Percent Change and Percent Distribution: Selected Calendar Years 1960-2022': 'NHE',
       'Unnamed: 1': '1960', 'Unnamed: 2': '1970', 'Unnamed: 3': '1980','Unnamed: 4': '1990', 'Unnamed: 5':'2000',
       'Unnamed: 6':'2001', 'Unnamed: 7':'2002', 'Unnamed: 8':'2003', 'Unnamed: 9':'2004', 'Unnamed: 10':'2005',
       'Unnamed: 11':'2006', 'Unnamed: 12':'2007', 'Unnamed: 13':'2008', 'Unnamed: 14':'2009',
       'Unnamed: 15':'2010', 'Unnamed: 16':'2011', 'Unnamed: 17': '2012', 'Unnamed: 18':'2013',
       'Unnamed: 19':'2014', 'Unnamed: 20':'2015', 'Unnamed: 21':'2016', 'Unnamed: 22':'2017',
       'Unnamed: 23':'2018', 'Unnamed: 24':'2019', 'Unnamed: 25':'2020', 'Unnamed: 26':'2021',
       'Unnamed: 27':'2022'})
nhe_df1

,NHE,1960,1970,1980,1990,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Item,1960,1970,1980,1990,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,NaN,Amount in Billions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,National Health Expenditures,$27.1,$74.1,$253.2,$718.7,"$1,366.0","$1,483.4","$1,631.0","$1,770.4","$1,894.7",...,"$2,855.7","$3,001.7","$3,163.8","$3,305.3","$3,443.7","$3,601.2","$3,756.4","$4,156.3","$4,289.1","$4,464.6"
3,Health Consumption Expenditures,24.6,66.3,232.7,670.2,"1,280.3","1,393.4","1,529.6","1,661.8","1,777.8",...,"2,692.6","2,842.2","3,000.6","3,139.1","3,263.0","3,411.6","3,562.3","3,962.2","4,081.6","4,246.8"
4,Personal Health Care,23.1,62.4,214.3,611.9,"1,156.5","1,256.5","1,365.5","1,475.9","1,582.4",...,"2,404.6","2,526.2","2,672.9","2,793.7","2,901.3","3,017.1","3,171.2","3,375.3","3,561.5","3,704.8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN